@font-face {
    font-family: GT-Walsheim;
    font-weight: bold;
    src: url("./../../fonts/GT-WalsheimRegular.otf") format("opentype");
}

body {
	font-family: 'GT-Walsheim';
	background-color: #E5E5E5;
}

.title {
	background-color: #E5E5E5;
	font-size: 40px;
	color: #454442;
	width: 200px;
	position: absolute;
	top: 7%;
	letter-spacing: 7px;
}

/*List items*/

.navBar {
	position: absolute;
	bottom: 5%;
}

.navList {
	list-style-type: none;
}

.navList__item {
	padding-top: 8px;
	color: #454442;
}

/*border*/

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
}
#left, #right {
	top: 20px; bottom: 20px;
	width: 15px;
}
#left {
  left: 20px;
}
#right {
  right: 20px;
}
#top, #bottom {
		left: 20px; right: 20px;
		height: 15px;
}
#top {
  top: 20px;
}
#bottom {
  bottom: 20px;
}

/*Content*/
#content-holder {
	position: absolute;
	left: 30%;
	top: 10%;
	height: 90vh;
	width: 100em;
	overflow: scroll;
	margin-bottom: 1.5em;
}

.project {
	position: relative;
	margin-bottom: 3em;
}

.project__element {
	margin-top: 1px;
	margin-bottom: 1px;
}

.project__img {
	margin-top: 1em;
	width: 30em;
}

.right-align-image {
	right: -80%;
}
